<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Server App</title>
    <link media="all" rel="stylesheet" href="<%= assetsPath %>css/main.css" />
  </head>
  <body>
    <h1>This is a simple server to handle few API-like POST and GET calls</h1>
    <h2>Also to demonstrate CORS issue with client running on the same localhost but on different port</h2>

    <div class="cors-image-wrapper">
        <img src="<%= assetsPath %>images/cors.png" alt="CORS" />
    </div>

    <h3>It is using the following tech</h3>
    <ul>
        <li>fastify (Main Fastify module)</li>
        <li>fastify-cors (CORS handle for Fastify</li>
        <li>fastify-static (static files - css, images - for Fastify)</li>
        <li>point-of-view (Fastify renderer)</li>
        <li>EJS (template JS processing)</li>
        <li>nodemon (reload node apps in development)</li>
    </ul>
  </body>
</html>